{% load static %}

<!-- Header -->
	<header id="home">
		<!-- Background Image -->
		<div class="bg-img" style="background-image: url('{% static 'img/background1.jpg' %}');">
			<div class="overlay"></div>
		</div>
		<!-- /Background Image -->

		<!-- Nav -->
		<nav id="nav" class="navbar nav-transparent">
			<div class="container">

				<div class="navbar-header">
					<!-- Logo -->
					<div class="navbar-brand">
						<a href="{% url 'index' %}">
							<img class="logo" src="{% static 'img/logo-alt1.png' %}" alt="logo">
							<img class="logo-alt" src="{% static 'img/logo1.png' %}" alt="logo">
						</a>
					</div>	
					<!-- /Logo -->

					<!-- Collapse nav button -->
					<div class="nav-collapse">
						<span></span>
					</div>
					<!-- /Collapse nav button -->
				</div>

				<!--  Main navigation  -->
				<ul class="main-nav nav navbar-nav navbar-right">
					<li><a href="#home">Home</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="#portfolio">Portfolio</a></li>
					<li><a href="#service">Services</a></li>
					<li><a href="#pricing">Prices</a></li>
					<li><a href="#team">Team</a></li>
					<li><a href="#social">Social</a></li>
					<li><a href="#contact">Contact</a></li>
					<li><button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal">Login</button></li>
					<li><button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal2">Register</button></li>
			
				</ul>
				<!-- /Main navigation -->
			</div>
		</nav>
		<!-- /Nav -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">Login form</h4>
					</div>
					<div class="modal-body">
						<form>
							<div class="form-group">
								<label for="email">Email address</label>
								<div class="input-group pb-modalreglog-input-group">
									<input type="email" class="form-control" id="email" placeholder="Email">
									<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
								</div>
							</div>
							<div class="form-group">
								<label for="password">Password</label>
								<div class="input-group pb-modalreglog-input-group">
									<input type="password" class="form-control" id="pws" placeholder="Password">
									<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary">Log in</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">Registration form</h4>
					</div>
					<div class="modal-body">
						<form class="pb-modalreglog-form-reg">
							<div class="form-group">
								<div id="pb-modalreglog-progressbar"></div>
							</div>
							<div class="form-group">
								<label for="email">Email address</label>
								<div class="input-group pb-modalreglog-input-group">
									<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
									<input type="email" class="form-control" id="inputEmail" placeholder="Email">
								</div>
							</div>
							<div class="form-group">
								<label for="password">Password</label>
								<div class="input-group pb-modalreglog-input-group">
									<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
									<input type="password" class="form-control" id="inputPws" placeholder="Password">
								</div>
							</div>
							<div class="form-group">
								<label for="confirmpassword">Confirm password</label>
								<div class="input-group pb-modalreglog-input-group">
									<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
									<input type="password" class="form-control" id="inputConfirmPws" placeholder="Confirm Password">
								</div>
							</div>
							<div class="form-group">
								<label for="country">Country</label>
								<div class="input-group pb-modalreglog-input-group">
									<span class="input-group-addon"><span class="glyphicon glyphicon-globe"></span></span>
									<input type="text" class="form-control" id="countries" placeholder="Country">
								</div>
							</div>
							<div class="form-group">
								<label for="age">Age</label>
								<div class="input-group pb-modalreglog-input-group">
									<input id="age">
								</div>
							</div>
							<div class="form-group">
								<input type="checkbox" id="ch" name="chs">
								I agree with <a href="#">terms and conditions.</a>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary">Sign up</button>
					</div>
				</div>
			</div>
		</div>
		<!-- home wrapper -->
		<div class="home-wrapper">
			<div class="container">
				<div class="row">

					<!-- home content -->
					<div class="col-md-10 col-md-offset-1">
						<div class="home-content">
							<h1 class="white-text">We provide <strong>Solutions</strong> for your business</h1>
							<!-- <p class="white-text">Morbi mattis felis at nunc. Duis viverra diam non justo. In nisl. Nullam sit amet magna in magna gravida vehicula. Mauris tincidunt sem sed arcu. Nunc posuere.
							</p> -->
							<button class="white-btn" onclick="location.href='#contact';">Get Started!</button>
							<button class="main-btn" onclick="location.href='#service';">Learn more</button>
						</div>
					</div>
					<!-- /home content -->

				</div>
			</div>
		</div>
		<!-- /home wrapper -->

	</header>
	<!-- /Header -->