{% extends 'base.html' %}
{% load static %}

{% block content %}


<!-- Header -->
{% include 'partials/_header.html' %}
	<!-- About -->
	<div id="about" class="section md-padding">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section header -->
				<div class="section-header text-center">
					<h2 class="title">About DataScripts</h2>
				</div>
				<!-- /Section header -->

				<div class="section-header text-center">
					<p class="about">We are a "tech startup" Entity enabling fast-track IT solutions powered with a perfect balance of technology innovation, software designing-development and business consultancy.
						Hands-on experience across domains and technologies gives a cutting edge to DataScripts. See your ideas take shape in real-time - facilitating on-the-board iterations.
					</p>
				</div>

				<!-- about -->
				<div class="col-md-4">
					<div class="about">
						<i class="fa fa-cogs"></i>
						<h3>Fully Customizible</h3>
						<p>We provide best customized Web, Desktop, Hybrid and Native solutions, it is what we are excellent at.</p>
					<!-- 	<a href="#">Read more</a> -->
					</div>
				</div>
				<!-- /about -->

				<!-- about -->
				<div class="col-md-4">
					<div class="about">
						<i class="fa fa-magic"></i>
						<h3>Quality Services</h3>
						<p>Stringent quality checks to weed out bugs, technical knots, operational road blocks and smoothen customer journey.</p>
						<!-- <a href="#">Read more</a> -->
					</div>
				</div>
				<!-- /about -->

				<!-- about -->
				<div class="col-md-4">
					<div class="about">
						<i class="fa fa-mobile"></i>
						<h3>Secured & Cost Effective</h3>
						<p>Being at the top, our technology solutions are highly secured to ensure confidentiality and economy to clients.</p>
						<!-- <a href="#">Read more</a> -->
					</div>
				</div>
				<!-- /about -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /About -->

	<!-- Portfolio -->
	<div id="portfolio" class="section md-padding bg-grey">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section header -->
				<div class="section-header text-center">
					<h2 class="title">Featured Works</h2>
				</div>
				<!-- /Section header -->

				<!-- Work -->
				<div class="col-md-4 col-xs-6 work">
					<img class="img-responsive" src="{% static 'img/port23.jpg' %}" alt="">
					<div class="overlay"></div>
					<div class="work-content">
					<!-- 	<span>Category</span>
						<h3>Lorem ipsum dolor</h3> -->
						<div class="work-link">
							<!-- <a href="#"><i class="fa fa-external-link"></i></a> -->
							<a class="lightbox" href="{% static 'img/port23.jpg' %}"><i class="fa fa-search"></i></a>
						</div>
					</div>
				</div>
				<!-- /Work -->

				<!-- Work -->
				<div class="col-md-4 col-xs-6 work">
					<img class="img-responsive" src="{% static 'img/port4.jpg' %}" alt="">
					<div class="overlay"></div>
					<div class="work-content">
						<!-- <span>Category</span>
						<h3>Lorem ipsum dolor</h3> -->
						<div class="work-link">
							<!-- <a href="#"><i class="fa fa-external-link"></i></a> -->
							<a class="lightbox" href="{% static 'img/port4.jpg' %}"><i class="fa fa-search"></i></a>
						</div>
					</div>
				</div>
				<!-- /Work -->

				<!-- Work -->
				<div class="col-md-4 col-xs-6 work">
					<img class="img-responsive" src="{% static 'img/port2.jpg' %}" alt="">
					<div class="overlay"></div>
					<div class="work-content">
						<!-- <span>Category</span>
						<h3>Lorem ipsum dolor</h3> -->
						<div class="work-link">
						<!-- 	<a href="#"><i class="fa fa-external-link"></i></a> -->
							<a class="lightbox" href="{% static 'img/port2.jpg' %}"><i class="fa fa-search"></i></a>
						</div>
					</div>
				</div>
				<!-- /Work -->

				<!-- Work -->
				<div class="col-md-4 col-xs-6 work">
					<img class="img-responsive" src="{% static 'img/port24.jpg' %}" alt="">
					<div class="overlay"></div>
					<div class="work-content">
						<!-- <span>Category</span>
						<h3>Lorem ipsum dolor</h3> -->
						<div class="work-link">
							<!-- <a href="#"><i class="fa fa-external-link"></i></a> -->
							<a class="lightbox" href="{% static 'img/port24.jpg' %}"><i class="fa fa-search"></i></a>
						</div>
					</div>
				</div>
				<!-- /Work -->

				<!-- Work -->
				<div class="col-md-4 col-xs-6 work">
					<img class="img-responsive" src="{% static 'img/port22.jpg' %}" alt="">
					<div class="overlay"></div>
					<div class="work-content">
					<!-- 	<span>Category</span>
						<h3>Lorem ipsum dolor</h3> -->
						<div class="work-link">
							<!-- <a href="#"><i class="fa fa-external-link"></i></a> -->
							<a class="lightbox" href="{% static 'img/port22.jpg' %}"><i class="fa fa-search"></i></a>
						</div>
					</div>
				</div>
				<!-- /Work -->

				<!-- Work -->
				<div class="col-md-4 col-xs-6 work">
					<img class="img-responsive" src="{% static 'img/port1.jpg' %}" alt="">
					<div class="overlay"></div>
					<div class="work-content">
					<!-- 	<span>Category</span>
						<h3>Lorem ipsum dolor</h3> -->
						<div class="work-link">
							<!-- <a href="#"><i class="fa fa-external-link"></i></a> -->
							<a class="lightbox" href="{% static 'img/port1.jpg' %}"><i class="fa fa-search"></i></a>
						</div>
					</div>
				</div>
				<!-- /Work -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Portfolio -->

	<!-- Service -->
	<div id="service" class="section md-padding">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section header -->
				<div class="section-header text-center">
					<h2 class="title">What we offer</h2>
				</div>
				<!-- /Section header -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service">
						<i class="fa fa-rocket"></i>
						<h3>Graphic Design</h3>
						<p>DataScripts is the best UX/UI services provider in Pakistan and UAE specializing in handcrafting beautiful UI/UX designs that meet our client's vision and goals.</p>
					</div>
				</div>

				<!-- /service -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service">
						<i class="fa fa-diamond"></i>
						<h3>Web Apps</h3>
						<p>In today's 24/7 business environment, application failure or unexpected downtime can frustrate end users and devastate your bottom line.As budgets shrink and application environments grow more complex,it pays to have an experienced IT partner like us.</p>	
					</div>
				</div>

				<!-- /service -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service">
						<i class="fa fa-pencil"></i>
						<h3>Moile App Development</h3>
						<p>DataScripts provides specialized Application Development Services to help improve your business processes and integrating different platforms.At DataScripts, We design,develop,test and integrate software across multiple platforms including mobile application development.</p>
						
					</div>
				</div>
			
				<!-- /service -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service">
						<i class="fa fa-diamond"></i>
						<h3>Digital Media Marketing</h3>
						<p>DataScripts offers cost-effective services to ensure your audience find your business online, from there you can capture leads and turn them into loyal customers.</p>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service">
						<i class="fa fa-cogs"></i>
						<h3>Desktop App</h3>
						<p>We provide desktop application to our customers developed on Oracle and many other platforms as per our customer requirement.</p>
					</div>
				</div>
				<!-- /service -->

				<!-- service -->
				<div class="col-md-4 col-sm-6">
					<div class="service">
						<i class="fa fa-flask"></i>
						<h3>Data Center Support</h3>
						<p>DataScripts provide all solution related to cloud computing and data center operations.We provide hardware to our customers and services afterwords.</p>
					</div>
				</div>
				<!-- /service -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Service -->

	<!-- Why Choose Us -->
	<div id="features" class="section md-padding bg-grey">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- why choose us content -->
				<div class="col-md-6">
					<div class="section-header">
						<h2 class="title">Why Choose Us</h2>
					</div>
					<p>DataScripts started it’s steady and determined ascent towards becoming the Best Tech Company in Pakistan in 2018. Staying true to its primary objective of delivering imaginative, high-quality services. We’ve come a long way in the competitive field of Web Development Services.
						Accepting and adapting to changing trends and needs of the customers, our prudent Company in Karachi currently enjoys an impressive clientele in USA and Middle East and many more countries in near future.We Follow this simple software development rule.</p>
					<div class="feature">
							<i class="fa fa-check"></i>
							<p>Requirement Gathering.</p>
					</div>
						
					<div class="feature">
						<i class="fa fa-check"></i>
						<p>Design.</p>
					</div>
					<div class="feature">
						<i class="fa fa-check"></i>
						<p>Develop.</p>
					</div>
					<div class="feature">
						<i class="fa fa-check"></i>
						<p>Test.</p>
					</div>
					<div class="feature">
						<i class="fa fa-check"></i>
						<p>Maintenance.</p>
					</div>
				</div>
				<!-- /why choose us content -->

				<!-- About slider -->
				<div class="col-md-6">
					<div id="about-slider" class="owl-carousel owl-theme">
						<img class="img-responsive" src="{% static '/img/about1.jpg' %}" alt="">
						<img class="img-responsive" src="{% static '/img/about2.jpg' %}" alt="">
						<img class="img-responsive" src="{% static '/img/about1.jpg' %}" alt="">
						<img class="img-responsive" src="{% static '/img/about2.jpg' %}" alt="">
					</div>
				</div>
				<!-- /About slider -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Why Choose Us -->

	<!-- Numbers -->
	<div id="numbers" class="section sm-padding">

		<!-- Background Image -->
		<div class="bg-img" style="background-image: url('{% static 'img/background2.jpg' %}');">
			<div class="overlay"></div>
		</div>
		<!-- /Background Image -->

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- number -->
				<div class="col-sm-4 col-xs-6">
					<div class="number">
						<i class="fa fa-users"></i>
						<h3 class="white-text"><span class="counter">12</span></h3>
						<span class="white-text">Happy clients</span>
					</div>
				</div>
				<!-- /number -->

				<!-- number -->
				<!-- <div class="col-sm-3 col-xs-6">
					<div class="number">
						<i class="fa fa-trophy"></i>
						<h3 class="white-text"><span class="counter">12</span></h3>
						<span class="white-text">Awards won</span>
					</div>
				</div> -->
				<!-- /number -->

				<!-- number -->
				<div class="col-sm-4 col-xs-6">
					<div class="number">
						<i class="fa fa-coffee"></i>
						<h3 class="white-text"><span class="counter">500</span>K</h3>
						<span class="white-text">Cups of Coffee</span>
					</div>
				</div>
				<!-- /number -->

				<!-- number -->
				<div class="col-sm-4 col-xs-6">
					<div class="number">
						<i class="fa fa-file"></i>
						<h3 class="white-text"><span class="counter">12</span></h3>
						<span class="white-text">Projects completed</span>
					</div>
				</div>
				<!-- /number -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Numbers -->

	<!-- Pricing -->
	<div id="pricing" class="section md-padding">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section header -->
				<div class="section-header text-center">
					<h2 class="title">Pricing Table</h2>
				</div>
				<!-- /Section header -->

				<!-- pricing -->
				<div class="text-center">
					<p><h1>Announce Soon</h1></p>
				</div>	

<!-- 
				<div class="col-sm-4">
					<div class="pricing">
						<div class="price-head">
							<span class="price-title">Basic plan</span>
							<div class="price">
								<h3>$9<span class="duration">/ month</span></h3>
							</div>
						</div>
						<ul class="price-content">
							<li>
								<p>1GB Disk Space</p>
							</li>
							<li>
								<p>100 Email Account</p>
							</li>
							<li>
								<p>24/24 Support</p>
							</li>
						</ul>
						<div class="price-btn">
							<button class="outline-btn">Purchase now</button>
						</div>
					</div>
				</div> -->
				<!-- /pricing -->

				<!-- pricing -->
				<!-- <div class="col-sm-4">
					<div class="pricing">
						<div class="price-head">
							<span class="price-title">Silver plan</span>
							<div class="price">
								<h3>$19<span class="duration">/ month</span></h3>
							</div>
						</div>
						<ul class="price-content">
							<li>
								<p>1GB Disk Space</p>
							</li>
							<li>
								<p>100 Email Account</p>
							</li>
							<li>
								<p>24/24 Support</p>
							</li>
						</ul>
						<div class="price-btn">
							<button class="outline-btn">Purchase now</button>
						</div>
					</div>
				</div> -->
				<!-- /pricing -->

				<!-- pricing -->
				<!-- <div class="col-sm-4">
					<div class="pricing">
						<div class="price-head">
							<span class="price-title">Gold plan</span>
							<div class="price">
								<h3>$39<span class="duration">/ month</span></h3>
							</div>
						</div>
						<ul class="price-content">
							<li>
								<p>1GB Disk Space</p>
							</li>
							<li>
								<p>100 Email Account</p>
							</li>
							<li>
								<p>24/24 Support</p>
							</li>
						</ul>
						<div class="price-btn">
							<button class="outline-btn">Purchase now</button>
						</div>
					</div>
				</div> -->
				<!-- /pricing -->

			</div>
			<!-- Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Pricing -->

	<!-- Testimonial -->
	<div id="testimonial" class="section md-padding">
		
		<div class="section-header text-center">
			<h2 class="title" style="color:white;">Our Clients</h2>
		</div>

		<!-- Background Image -->
		<div class="bg-img" style="background-image: url('{% static 'img/background3.jpg' %}');">
			<div class="overlay"></div>
		</div>
		<!-- /Background Image -->

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Testimonial slider -->
				<div class="col-md-10 col-md-offset-1">
					<div id="testimonial-slider" class="owl-carousel owl-theme">

						<!-- testimonial -->
						<div class="testimonial">
							<div class="testimonial-meta">
								<img src="{% static '/img/unknown.jpg' %}" alt="">
								<h3 class="white-text">Shehzad</h3>
								<span>Resturant POS Client</span>
							</div>
							<p class="white-text">We are using POS Software from around 1 year and the results are perfect we are very happy with DataScripts as they propmtly available for support.I will highly recommend them to any one</p>
						</div>
						<!-- /testimonial -->

						<!-- testimonial -->
						<div class="testimonial">
							<div class="testimonial-meta">
								<img src="{% static '/img/unknown.jpg' %}" alt="">
								<h3 class="white-text">Nisar</h3>
								<span>Accounts Software Client</span>
							</div>
							<p class="white-text">We are using DataScripts provided software for accounts and we are very happy with the performanc eand support they provide, they are truly professionals</p>
						</div>
						<!-- /testimonial -->

					</div>
				</div>
				<!-- /Testimonial slider -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Testimonial -->

	<!-- Team -->
	<div id="team" class="section md-padding">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section header -->
				<div class="section-header text-center">
					<h2 class="title">Our Team</h2>
				</div>
				<!-- /Section header -->

				<!-- team -->
				<div class="col-sm-4">
					<div class="team">
						<div class="team-img">
							<img class="img-responsive" src="{% static '/img/CEO.jpg' %}" alt="">
							<div class="overlay">
								<div class="team-social">
									<a href="https://www.facebook.com/syedmohammadhassaan"><i class="fa fa-facebook"></i></a>
									<!-- <a href="#"><i class="fa fa-google-plus"></i></a> -->
									<a href="https://twitter.com/hassansuperstar"><i class="fa fa-twitter"></i></a>
								</div>
							</div>
						</div>
						<div class="team-content">
							<h3>Syed Muhammad Hassan</h3>
							<span>Founder DataScripts</span>
						</div>
					</div>
				</div>
				<!-- /team -->

				<!-- team -->
				<div class="col-sm-4">
					<div class="team">
						<div class="team-img">
							<img class="img-responsive" src="{% static '/img/designer.jpg' %}" alt="">
							<div class="overlay">
								<div class="team-social">
									<a href="https://www.facebook.com/hsusmani"><i class="fa fa-facebook"></i></a>
									<!-- <a href="#"><i class="fa fa-google-plus"></i></a> -->
									<a href="#"><i class="fa fa-twitter"></i></a>
								</div>
							</div>
						</div>
						<div class="team-content">
							<h3>Saad Usmani</h3>
							<span>Lead Designer</span>
						</div>
					</div>
				</div>
				<!-- /team -->

				<!-- team -->
				<div class="col-sm-4">
					<div class="team">
						<div class="team-img">
							<img class="img-responsive" src="{% static '/img/developer.jpg' %}" alt="">
							<div class="overlay">
								<div class="team-social">
									<a href="#"><i class="fa fa-facebook"></i></a>
									<!-- <a href="#"><i class="fa fa-google-plus"></i></a> -->
									<a href="#"><i class="fa fa-twitter"></i></a>
								</div>
							</div>
						</div>
						<div class="team-content">
							<h3>Haris Khan</h3>
							<span>Lead Developer</span>
						</div>
					</div>
				</div>
				<!-- /team -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Team -->

	<!-- Social -->
	<!-- <div id="testimonial" class="section md-padding bg-grey"> -->
	<div id="social" class="section md-padding">
		
				<!-- Background Image -->
					<div class="bg-img" style="background-image: url('{% static 'img/background4.jpg' %}');">
						<div class="overlay"></div>
					</div>
					<!-- /Background Image -->		
		
					
		<!-- Container -->
			<div class="container">
					<div class="section-header text-center">
							<h2 class="title" style="color:white;">Social Media</h2>
				<!-- Row -->
				<div class="testimonial">
					<!-- 	<div>
							<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FDataScripts%2F&tabs=timeline&width=300&height=540&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=false&appId" width="auto" height="560" style="width :100%; display:block; margin:auto; border:none;overflow:hidden;" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
						</div> -->
						<div class="fb-page" data-href="https://www.facebook.com/datascripts" data-tabs="timeline" data-width="500" data-height="550" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/datascripts" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/datascripts">DataScripts.net</a></blockquote></div>
				</div>
				<!-- /Row -->
			</div>
			<!-- /Container -->
		</div>
	</div>
	<!-- social -->

	<!-- Contact -->
	<div id="contact" class="section md-padding">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section-header -->
				<div class="section-header text-center">
					<h2 class="title">Get in touch</h2>
				</div>
				<!-- /Section-header -->

				<!-- contact -->
				<div class="col-sm-4">
					<div class="contact">
						<i class="fa fa-phone"></i>
						<h3>Phone</h3>
						<p>+92-333-3208703</p>
					</div>
				</div>
				<!-- /contact -->

				<!-- contact -->
				<div class="col-sm-4">
					<div class="contact">
						<i class="fa fa-envelope"></i>
						<h3>Email</h3>
						<p>datascripts.net@gmail.com</p>
					</div>
				</div>
				<!-- /contact -->

				<!-- contact -->
				<div class="col-sm-4">
					<div class="contact">
						<i class="fa fa-map-marker"></i>
						<h3>Address</h3>
						<p>Karachi, Pakistan</p>
					</div>
				</div>
				<!-- /contact -->

				<!-- contact form -->
				<div class="col-md-8 col-md-offset-2">
					<form class="contact-form" id="fr1" > 
						<input type="text" id="name1" class="input" placeholder="Name">
						<input type="email" id="email1" class="input" placeholder="Email">
						<input type="text" id="subject1" class="input" placeholder="Subject">
						<textarea class="input" id="comment1" placeholder="Message"></textarea>
						<button id='bt1' class="main-btn" >Send message</button>
					</form>
				</div>
				<!-- /contact form -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Contact -->

{% endblock %}